/* H1 */
h1.display-4 {
    font-size: 50px;
}



/* Link */
a.nav-link {
    font-size: 30px;
}

/* Carousel */
div#carouselExampleIndicators {
    border: 0px;
}

/* Images */
img.d-block-w-100 {
    width: 100%;
    height: 100%;

}

.mbologo {
    width: 100px;
    height: 100px;

}

.aboutimg {
    width: 225px;
    height: 255px;
}

.b_edit {
    width: 16px;
    height: 16px;
}

.b_drop {
    width: 16px;
    height: 16px;
}


/* inschrijven */
.h3-requirements {
    font-size: 35px;
}

.li-requirements {
    font-size: 25px;
}

.required {
    color: red;
}


